ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me-now
JWT_SECRET=change-this-secret
DISCORD_BOT_TOKEN=MTQ5MTQ4NjgwOTAyMzMyMDI1NQ.GW9JpX.z1J0F8lEdpHD2lRsr2eABny6HRt7WR5gIRADKk
DISCORD_GUILD_ID=E1H_oSqWmieaiFz-xoKEm4cWKNFyylSy
DISCORD_CLIENT_ID=1491486809023320255
